.header {
  padding: 6px;
  width: 100%;
  box-sizing: border-box;
}

.header-content {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 4px;
}

.header-links {
  display: flex;
  align-items: center;
  padding: 0 15px 0 0;
  margin: 0;
  list-style: none;
  font-size: 13px;
}

.link {
  padding-left: 15px;
  text-decoration: none;
  line-height: 24px;
  color: rgb(31, 31, 31);
}

.link:hover {
  text-decoration: underline;
}

.menu-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 8px;
}

.menu-icon:hover {
  background-color: rgb(245, 241, 241);
}

.login-button {
  width: 61px;
  height: 20px;
  margin: 10px 12px;
  padding: 12px 10px;
  text-align: center;
  line-height: 20px;
  background-color: rgb(11, 87, 208);
  color: white;
  border: none;
  border-radius: 100px;
  text-decoration: none;
  font-weight: 500;
}
